<!--
    random generate 6 digit code every 12am (cannot self generate)
    create attendance record with status
    update status of existing record
    view attendance
-->

<!DOCTYPE html>
<html>
<head>
	<title>Attendance Page</title>
    <style>
        .button-style{
            background: grey; 
            height: 45px; 
            width: 200px; 
            color:white; 
            font:oblique;
        }
    </style>
</head>
<body style="margin-top:150px;">
    <h1 style="text-align:center"><font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span style="font-size:26px;"><strong><span style="font-family: avenir;">Attendance Page</span></strong></span></span></font></h1>
    <center style="width:50%;margin:0 auto">
        <div style="margin-top:50px;">
            <a href="#" alt="Go to View Attendance logs">
                <button class="button-style">View Attendance</button>
            </a>
        </div>
        <div style="margin-top:50px;">
            <a href="#" alt="Go to Enter Attendance Code Page">
                <button class="button-style">Enter Attendance Code</button>
            </a>
        </div>    
        <div style="margin-top:50px;">
            <a href="#" alt="Go to Update Attendance Status">
                <button class="button-style">Update Attendance Status</button>
            </a>
        </div>
    </center>
    
</body>

</html>

