<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Salary Information</h1>

		<body bgcolor="lightgrey">


                <form action="/examine" autocomplete="on" method = "POST" enctype="multipart/form-data">
                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Examine employee salary</button><br><br>

                </form>
                
                <form action="/update" autocomplete="on" method = "POST" enctype="multipart/form-data">
                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Update employee salary</button><br><br>

                </form>
                
                <form action="/view" autocomplete="on" method = "POST" enctype="multipart/form-data">
                    <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">View all employee's payroll</button><br><br>

                </form>
                <h2>{{ name }}</h2><br>

		</body>

	</font>
</center>
</html>
