<!DOCTYPE html>
<html>

<head>
    <title>Apply Leave Page</title>
    <style>
        .button-style {
            background: grey;
            height: 45px;
            width: 200px;
            color: white;
            font: oblique;
        }
    </style>
</head>

<body>
    <center style="margin:0 auto;margin-top:10%;">
        <font color="black" size="4" style="font-family: avenir">

            <h1 style="color: DodgerBlue">Apply Leave Page</h1>

            <body bgcolor="lightgrey">

                <form action="/getempname" autocomplete="on" method="GET" enctype="multipart/form-data">

                    Employee Id: <br> <input style="height:25px;font-size:14pt;color:grey;" type="text"
                        name="emp_id"><br><br>
                    <!-- 
					EmployeeName: <br>
					<p>{{name}}</p><br> -->

                    Current Time: <br>
                    <div id="time"></div><br />

                    <!-- <button type="submit"
						style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Get
						Employee Information</button><br /><br /> -->

                    Image: <input type="file" name="leave_file" style="height:25px;font-size:14pt;color:grey;">
                    <br><br>

                    <button formaction="/applyleave" type="submit" name="checkin"
                        style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Apply
                    </button><br /><br />

                </form>

            </body>




</html>