<!DOCTYPE html>
<html>

<head>
    <title>Attendance Log</title>
    <style>
        .button-style {
            background: grey;
            height: 45px;
            width: 200px;
            color: white;
            font: oblique;
        }

        .table-border {
            border: none;
            border-top: 2px solid black;
        }

        td {
            text-align: center;
        }
    </style>

</head>
    <body style="width:100%;margin:0 auto;margin-top:150px;" onload="retrieveData()">
        <h1 style="text-align:center">
            <font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span
                        style="font-size:26px;"><strong><span style="font-family: avenir;">Attendance
                                Log</span></strong></span></span></font>
        </h1>
        <!-- <div id="filter-btn" style="background: grey; padding: 10px 0px; border-radius:3px; height: 20px; width: 100px; color:white; font:oblique;text-align: center;vertical-align: bottom;">Filter</div>
    <select name="filter" id="filter" style="text-align:left;display:none;">
        <option value="datetime">DateTime</option>
        <option value="status">Status</option>
    </select> -->
    <form action="/viewattdlog" method="GET">
        <div style="width:inherit;text-align:center;">
            <div id="panelDateTime" style="margin:0 auto;margin-bottom:8px;word-break: keep-all;">
                <label for="emp_id">Emp_Id:</label>
                <input type="text" id="emp_id" class="" name="emp_id">
                <span>&nbsp;</span>

                <label for="fstart" style="margin-top:10px;">Start date:</label>
                <input type="date" id="fstart" class="date" name="fstart">
                <span>&nbsp;</span>

                <label for="fend">End date:</label>
                <input type="date" id="fend" class="date" name="fend">
                <span>&nbsp;</span>

                <label for="intime">Check-in time:</label>
                <input type="time" id="intime" class="time" name="intime">
                <span>&nbsp;</span>

                <label for="outtime">Check-out time:</label>
                <input type="time" id="outtime" class="time" name="outtime"><br />

                <button formaction="/viewattdlog" method="GET" type="submit" text="Check Out"
                    style="background: grey; padding: 6px 0px; border-radius:3px; height:10 px; width: 100px; color:white; font:oblique;text-align: center;vertical-align: middle;margin-top:8px;">Filter</button>
            </div>

            <center style="width:100%;">
                <table border="1" cellpadding="1" cellspacing="1" style="width: 50%;padding:5px;">
                    <thead>
                        <tr>
                            <td>Profile Picture</td>
                            <td>Employee Id</td>
                            <td>Employee Name</td>
                            <td>Position</td>
                            <td>Date</td>
                            <td>Check-in Time</td>
                            <td>Check-Out Time</td>
                            <td>Attendance Status</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 45%;">
                                <p style="text-align: center;"><strong class="rdata">{{ imgurl }}</strong></p>
                            </td>
                            <td style="width: 45%;">
                                <p style="text-align: center;"><span style="color:#3498db;"><strong
                                            class="rdata">{{id}}</strong></span><br />
                            </td>
                            <td style="width: 45%;">
                                <p style="text-align: center;"><span style="color:#3498db;"><strong class="rdata">{{
                                            fname
                                            }}&nbsp;{{ lname }}</strong></span><br />
                            </td>
                            <td style="width: 45%;">
                                <p style="text-align: center;">
                                    <span style="color:#3498db;"><strong class="rdata">{{ position }}</strong></span>
                                </p>
                            </td>
                            <td style="width: 45%;">
                                <p style="text-align: center;">
                                    <span style="color:#3498db;"><strong class="rdata">{{ date }}</strong></span>
                                </p>
                            </td>
                            <td style="width: 298px; text-align: center;">
                                <p><strong class="rdata">{{in_time}}</strong></p>
                            </td>
                            <td style="width: 298px; text-align: center; vertical-align: middle;">
                                <p><strong class="rdata">{{out_time}}</strong><br /></p>
                            </td>
                            <td style="width: 298px; text-align:left;">
                                <input type="radio" id="Present" name="status" value="Present">
                                <label for="Present">Present</label>
                                <input type="radio" id="Absent" name="status" value="Absent">
                                <label for="Absent">Absent</label><br>
                                <input type="radio" id="Leave" name="status" value="Leave">
                                <label for="Leave">Leave</label><br>
                                <br><br>
                            </td>
                            <td>
                                <input type="submit" value="Submit" />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
                <button formaction="/attd" type="submit" text="Check Out"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;margin-top:8px;">Go
                    Back</button>
            </center>
        </div>
    </body>
</form>
<script type="text/javascript">
    //@@@ Built Function
    function dateToYMD(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1; //Month from 0 to 11
        var y = date.getFullYear();
        return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }

    function selectDate() {
        let d = new Date();
        return d.toISOString().slice(0, 10)
        //return dateToYMD(d);
    }

    document.getElementById("filter-btn").addEventListener("click", () => {
        var filter = document.getElementById("filter");

        if (filter.style.display == "none") {
            filter.style.display = "block";
        }
        else {
            filter.style.display = "none";
        }
    });

    function retrieveData() {
        var table_result = '{{result}}'
        print(table_result[0][0])
        var elem = document.getElementsByClassName("rData")
        var size = elem.length()

        for (row in table_result) {
            for (i = 0; i < row.size(); i++) {
                elem[i].appendChild(document.createTextNode(row[i]))
            }
        }

    }

    //@@@ Call JS Function
    document.getElementById("fstart").value = selectDate();
    document.getElementById("fend").value = selectDate();
</script>

</html>